Choices {
    background: $panel;
    color: $text;
    border: $secondary tall;
    height: 1fr;
    width: 1fr;
}

#middle {
    width: 2fr;
}

MainInformation {
    height: 1fr;
}

UserInput {
    height: 3;
}

Actions {
    width: 1fr;
}