Screen {
    layout: horizontal
}


NodesList {
    background: $panel;
    color: $text;
    border: $secondary tall;
    content-align: center middle;
    width: auto%;
    height: 100%;
}


MainInformation {
    background: $panel;
    color: $text;
    border: $secondary tall;
    content-align: center middle;
    width: 100%;
    height: 10fr;
}


UserInput {
    background: $panel;
    color: $text;
    content-align: center middle;
    width: 100%;
    height: auto;
}

Actions {
    background: $panel;
    color: $text;
    border: $secondary tall;
    content-align: center middle;
    width: auto;
    height: 100%;
}

Vertical {
    background: $panel;
    color: $text;
    border: $secondary tall;
    content-align: center middle;
    width: 60%;
    height: 100%;
}