Screen {

}


MainBox {
    padding: 1 1;
    background: $panel;
    color: $text;
    border: $secondary tall;
    content-align: center middle;
    width: 100%;
    height: 2fr;
}

Information {
    padding: 1 1;
    background: $panel;
    color: $text;
    border: $secondary tall;
    content-align: center middle;
    width: 100%;
    height: 1fr;
}


UserInput {
    background: $panel;
    color: $text;
    border: $secondary tall;
    content-align: center middle;
    width: 100%;
    height: auto;
}
